button {
    // border: 1px solid;
    padding: 0.6rem 2rem;
    border-radius: 1rem;
    transition: 200ms ease-in-out;
    text-align: center;
    cursor: pointer;
    user-select: none;
    align-items: center;

    &:hover, &:focus {
        box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
        text-shadow: 0 0 0.75px #fff, 0 0 0.75px #fff;
    }
    &:active {
        transform: scale(1.02);
    }
}