@import "_colors.scss";

/* ABOVE THE FOLD START */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 1rem;
}

nav {
    display: none;
    align-items: center;

    li {
        list-style-type: none;
        display: inline;
        margin: 0 0.75rem;
        color: color(light);

        &:nth-last-child(1) {
            margin: 0 0 0 0.5rem;

            a:hover::after {
                display: none;
            }
        }
    }

    a {
        position: relative;
        transition: all 200ms;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height:2px;
            bottom:-4px;
            left:0;
            right:0;
            background:color(primary);
            transition: all 500ms;
            transition: 200ms ease-in-out;
            transform: scaleX(0);
            transform-origin: left;
        }
    }

    a:hover, a:focus {
        text-shadow: 0 0 0.75px #000, 0 0 0.75px #000;
        
        &::after{
            transform: scaleX(1);
        }
    }
        

    button {
        background: color(primary);
        color: color(light);
    
        &:hover, &:focus {
            color: color(primary);
            background: color(light);
        }
    }
}

.header-logo {
    width: 12rem;
    margin: 0 auto;
}

.hero {
    background: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    top:0;
    left:0;
    z-index: 1;
    // padding: 1rem;

    a {
        z-index: 100;
    }
}

.hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    opacity: 60;
    transition: all 1s;
    -webkit-transition: all 1s;
    z-index: 2;
}
.hero-content {
    // margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.textbox {
    padding: 1rem;
}

.headline, .deck {
    color: color(light);
    text-align: center;
}


.headline {
    margin-top: 2rem;
}

.deck {
    // margin: 3rem 5rem;
    margin: 1.5rem 2rem;
}

.cta {
    margin: 0 auto;
    color: color(primary);
    text-align: center;
    background: color(light);
    display: block;
    z-index: 100;
    
    &:hover, &:focus {
        background: color(primary);
        color: color(light);
    }
}

.scroller {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: color(light);
    opacity: 75%;
    font-size: 1.953rem;
    transition: all 250ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 100;


    .scroller-text {
        font-family: "TitlingGothicFB Normal", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", sans-serif;
        font-weight: 300;
        margin-left: 0.85rem;;
        display: none;
        font-size: 0.85rem;
    }

    &:hover, &:focus {
        opacity: 100%;
    }
}

/* ABOVE THE FOLD END */

/* SECTION 1 START */

.thesis {
    background: color(dark);
}

.thesis-text {
    text-align: center;
    padding: 3rem 1rem;

    h2 {
        color: color(primary);
    }
    p {
        color: color(light);
        margin-top: 1.5rem;
    }
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;

    img {
        margin: 0;
        vertical-align: middle;
        width: 100%;
    }
}


/* SECTION 1 END */

/* SECTION 2 START */

.usps {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
    background: url(../img/arc-r.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    .usp-box {
        display: flex;
        // vertical-align: top;
        margin: 1rem;
        align-items: baseline;
    }

    .icon-col {
        margin-right: 1rem;
    }

    .icon-blue {
        background: color(primary);
        border-radius: 100%;
        padding: .75rem;
        text-align: center;
        display: flex;
        vertical-align: center;
        align-items: center;

        span {
            color: color(light);
            font-weight: 500;
            font-size: 1.35rem;
        }
    }

    .text-col {
        h3 {
            margin-bottom: 1rem;
        }
    }

}


/* SECTION 2 END */

/* SECTION 3 START */

.quoter {
    background: color(dark);
}

.qouter-text {
    text-align: center;
    padding: 3rem 1rem;

    h2 {
        color: color(primary);
    }
    p {
        color: color(light);
        margin-top: 1.5rem;
    }
}

.quote-banner {
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    position: relative;

    .quote-banner-text{
        max-width: 1200px;
        padding: 3rem;
    }

    h3 {
        color: color(light);
    }

    .byline {
        display: block;
        margin: 2.5rem auto 0 3rem;
        color: color(light);
        font-weight: 500;
    }

    span.emdash {
        color: color(primary);
        font-weight: 900;
    }
}

/* SECTION 3 END */

/* SECTION 4 START */

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: color(primary);
    padding: 3rem 0;
}

.statbox {
    margin: 1rem;
    text-align: center;
    width: 155px;
    color: color(light);


    &.long-string {
        width: initial;
    }

    h1 {
        margin-bottom: 0.5rem;
    }
}

/* SECTION 4 END */

/* SECTION 5 START */

.partners {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    padding: 3rem 0;
}

.partner-box {
    h2 {
        color: color(primary);
        text-align: center;
    }
}

.partner-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    .logo-wrapper {
        margin: 1rem auto;

        img {
            width: 225px;
        }
    }
    .partner-blurb {
        text-align: center;
        padding: 0 1rem;

        h3 {
            margin-bottom: 1rem;
        }
    }
}

/* SECTION 5 END */

/* SECTION 6 START */

.team {
    background: color(dark);
}

.team-text {
    text-align: center;
    padding: 3rem 1rem;

    h2{
        color: color(primary);
    }
    p {
        color: color(light);
        margin-top: 1.5rem;
    }
}
.team-photos {
    display: grid;
    grid-template-columns: 1fr;

    img {
        margin: 0;
        vertical-align: middle;
        width: 100%;
    }
}

/* SECTION 6 END */

/* KNEELER START */

.kneeler {
    padding: 3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    background: color(primary);
    color: color(light);
    align-items: center;
}

.company-infobox {
    img {
        width: 100%;
    }
    p {
        margin: 1.5rem 0;
    }

    .socmed-icons {
        display: flex;
        justify-content: space-around;
        margin: 0 0 1.5rem 0;

        span {
            color: color(dark);
            font-size: 1.25rem;
        }


        a {
            background: color(light);
            // border: 4px transparent color(primary);
            border-radius: 100%;
            display: flex;
            align-items: center;
            vertical-align: center;
            padding: 0.75rem;
            transition: all 250ms ease-in-out;

            &:hover, &:focus {
                background: color(dark);
                // border: solid;
                
                span {
                    color: color(light);
                }
            }

        }
    }
}

.contact-infobox {
    p {
        margin: 1.5rem 0;
    }
}

/* KNEELER END */
/* FOOTER START */
footer {

    background: color(light);
    color: color(dark);
    // display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;

    .right-item {
        margin-top: 1rem;
    }

    a {
        transition: 250ms all ease-in-out;
    }

    a:focus, a:hover {
        color: color(primary);
    }
}

/* FOOTER END */